.img{
  height:600px;
}
.con{
  margin-left: 150px;
  margin-top: 100px;
}
.dis{
  display: inline-block;
  width: 300px;
  margin-right: 150px;
  text-align: center;
}

footer{
  height: 400px;
  width:100%;
  background-color: black;
}
.fp{
  display: inline-block;
  color:white;
  padding-right: 200px;

}
.fmc{
  padding-top: 100px;
  padding-left: 100px;
}
nav{
  position: fixed;
}
main{
  margin:100px;
}
